<div class="content">
    <h3>Contact</h3>
    <hr>
    <div>
        <div>
            <b>Name:</b> Harkishen Singh
        </div>
        <div>
            <b>Email-ID:</b> harkishensingh@hotmail.com
        </div>
        <div>
            <b>Phone:</b> +91-7978672907
        </div>
        <div>
            <b>Github:</b> https://github.com/Harkishen-Singh
        </div>
        <div>
            <b>Gitlab:</b> https://gitlab.com/Harkishen-Singh
        </div>
        <div>
            <b>LinkedIn:</b> https://www.linkedin.com/in/harkishen-singh/
        </div>
    </div>
</div>