<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <title>TapSearch</title>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">TapSearch-indexer</a>
        <div class="header-right">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div>
                Enter the word
            </div>
            <form action="https://tapsearch-indexer.herokuapp.com/search" method="POST">
                <input type="text" name="key" id="search-element">
                &nbsp;&nbsp;
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
        <div class="ejs-render">

            <% if (result.length !== 0)  {%>
                <b> Searched documents below .. (About <%= time %> milliseconds) </b>
                <% for (let i=0; i < result.length; i++) { %>
                    <div>
                        <%= i + 1 %>.
                        <%= result[i] %>
                    </div>
                    <br>
                    <br>
                <% } %>
            <% } else {%>
            <div>
                Documents not found.
            </div>
            <% } %>
        </div>
    </div>
    <footer>
        © TapSearch-indexer 2019
    </footer>
</body>
</html>
