.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.welcome {
  padding: 8%;
  margin-top: 1%;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

footer {
    position: fixed;
    bottom: 0%;
    background-color: #f1f1f1;
    padding: 20px 10px;
    width: 100%;
}

.content {
  padding: 3% 10% 3% 10%;
  line-height: 30px;
}

.outer-component {
  margin: 3% 30% 3% 10%;
  border: 1px solid pink;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 5px 5px pink;
  min-height: 50vh;
}

.article {
  /* overflow-y: scroll; */
  min-height: 150vh;
  margin-bottom: 10%;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3%;
  border-radius: 5px;
  width: 100%;
}

.renderer {
  display: inline-flex;
  border-bottom: 2px solid pink;
  margin-bottom: 2%;
  padding-bottom: 2%;
  width: 100%;
}

.post-comm {
  margin: 3% 3% 3% 80%;
}

.name-style {
  border-radius: 5px;
}

.repeat-div-cont {
  margin-bottom: 1%;
  border-bottom: 2px solid pink;
  padding-bottom: 1%;
}

.name-desk {
  left: 65vh;
  top: 45vh;
  position: absolute;
}

.instruction-style {
  padding: 3%;
}

.outer-layer {
  height: 40vh;
  background-color: #F5F5F5;
  margin: 3% 8% 3% 8%;
  flex-direction: row;
  display: flex;
  padding: 1%;
}

.outer-in-question {
  flex-grow: 5;
}

.outer-in-answer {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
}

.answer-style-bare {
  flex-grow: 1;
  font-size: 56px;
  text-align: center;
}

.answer-style {
  flex-grow: 1;
  font-size: 56px;
  text-align: center;
  margin-top: 2%;
}

.answer-style-ico {
  flex-grow: 1;
  height: 50px;
  text-align: center;
  margin-top: 2%;
}

#question {
  font-size: 92px;
  margin-top: 10%;
  font-weight: 700;
  text-align: center;
}

.about-options {
  flex-grow: 1;
  display: inline-flex;
}

.options {
  flex-grow: 10;
  display: flex;
  flex-direction: row;
}

.options-bare {
  display: flex;
  flex-direction: row;
}

.score-banner {
  margin-left: 10%;
}

.image-style-question {
  height: 50px;
}

/* .result-show {
  margin: 1%;
} */

.qa-foot {
  margin: -2% 8% 0% 8%;
  display: inline-flex;
  float: right;
}

.conclusion {
  margin: 1% 8% 0% 8%;
}

.previous-layer {
  padding: 3%;
}