<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <title>TapSearch</title>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">TapSearch-indexer</a>
        <div class="header-right">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="content">
        <h3>Contact</h3>
        <hr>
        <div>
            <div>
                <b>Name:</b> Harkishen Singh
            </div>
            <div>
                <b>Email-ID:</b> harkishensingh@hotmail.com
            </div>
            <div>
                <b>Phone:</b> +91-7978672907
            </div>
            <div>
                <b>Github:</b> https://github.com/Harkishen-Singh
            </div>
            <div>
                <b>Gitlab:</b> https://gitlab.com/Harkishen-Singh
            </div>
            <div>
                <b>LinkedIn:</b> https://www.linkedin.com/in/harkishen-singh/
            </div>
        </div>
    </div>
    <footer>
        © TapSearch-indexer 2019
    </footer>
</body>
</html>
