<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <title>TapSearch</title>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">TapSearch-indexer</a>
        <div class="header-right">
            <a href="/contact">Home</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom: 10%;">
            <br>
            Enter a pdf file
            <br>
            <form action="/indexPDF" method="post" enctype="multipart/form-data">
                <input type="file" name="myFile" id=""> <br> <br>
                <button type="submit" value = "Upload a file" class="btn btn-primary">Submit</button>
            </form>
            <br>
            OR
            <br>
            Enter the text below
            <br>
            <br>
            <form action="https://tapsearch-indexer.herokuapp.com/index" method="post">
                <textarea name="content" id="" cols="40" rows="40"></textarea>
                <br>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <footer>
        © TapSearch-indexer 2019
    </footer>
</body>
</html>