<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <title>TapSearch</title>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">TapSearch-indexer</a>
        <div class="header-right">
            <a href="/contact">Home</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="center-align col-md-6 col-lg-6 col-sm-6">
                <a href="/indexer"><span class="align-base">Indexer</span></a>
            </div>
            <div class="center-align col-md-6 col-lg-6 col-sm-6">
                <a href="/searcher"><span class="align-base">Searcher</span></a>
            </div>
        </div>
    </div>
    <footer>
        © TapSearch-indexer 2019
    </footer>
</body>
</html>